<form method="post" action="home.php?mod=spacecp&ac=plugin&id=bangbang93_McDzSkin:setprofile" enctype="multipart/form-data">
<table class="tfm">
	<tr>
		<td>用户名</td><td><input type="text" name="mcusername" id="mcusername" class="px" value="{$username}"/>
        <p>{$change_username_error}</p></td>
	</tr>
	<tr>
		<td>皮肤文件</td><td><img src="plugin.php?id=bangbang93_McDzSkin:get&type=skin&player={$username}" height="128px" width="256px" >
        <input name="mcskin" id="mcskin" type="file"/><p>{$skin_upload_error}</p></td>
	</tr>
	<tr>
		<td>披风文件</td><td><img src="plugin.php?id=bangbang93_McDzSkin:get&type=cloak&player={$username}" height="170px" width="220px" >
        <input name="mccloak" id="mccloak" type="file"/><p>{$cloak_upload_error}</p></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="hidden" name="mcsubmit" value="true" />
			<button type="submit" name="mcsubmitbtn" id="mcsubmitbtn" value="true" class="pn pnc"><strong>保存</strong></button></td>
	</tr>
</table>
</form>